$pixel_font: 'montserrat-bold-webfont';

@font-face {
  font-family: $pixel_font;
  src: url("../font/montserrat-bold-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #989898;
  font-family: $pixel_font;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  .header h1 {
    color: #e60012;
    font-size: 50px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &_item {
      margin: 10px;
      height: 60px;

      &_btn {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100px;
        background: #fff;
        border: #414548 solid 2px;

        h2 {
          color: #00c3e3;
          font-size: 20px;
          font-family: $pixel_font;
          text-transform: uppercase;
        }
      }

      &_btn:hover, &_btn:focus {
        background: #00c3e3;
        cursor: pointer;

        h2 {
          color: #fff;
        }
      }
    }
  }
}

#clearBtn:hover {
  background: #00c3e3;

  h2 {
    color: #fff;
  }
}

#clearBtn:focus {
  background: #fff;

  h2 {
    color: #00c3e3;
  }
}

.container {
  margin: auto;
  width: 512px;
  height: 521px;

  &_grid {
    background: #fff;
    width: 512px;
    height: 512px;
    display: inline-grid;
  }
}

footer {
  margin: auto;
  max-width: 600px;
}





















